<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @tweet.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user_id %>
</p>

<%= render @tweet.comments %>

 <div class="add-comment">
           <h3>New Comment</h3>

        <%= form_for([@tweet, @tweet.comments.build]) do |f| %>
          <p style="display:block">
            <%= f.label :name %><br>
            <%= f.text_field :username, :value => current_user.username, class: 'text' %>
          </p>
          <p>
            <%= f.label :body %><br>
            <%= f.text_area :body, class: 'text-area' %>
          </p>
          <p>
            <%= f.submit 'Comment', class: 'btn btn-primary btn-lg button' %>
          </p>
        <% end %>
        </div>
       
       
<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
